<nav class="sidebar">
    <div class="sidebar-header">
    <div class="profile-icon">
        <img src="https://ui-avatars.com/api/?name=Brayan&background=fff&color=000" alt="BP">
    </div>
    <span class="nav-label">Cuenta</span>
    </div>

    <div class="nav-links">
    
    <a routerLink="/mis-cursos" routerLinkActive="active" class="nav-item">
        <span class="icon">⚡</span> <span class="nav-label">Tablero</span>
    </a>

    <a routerLink="/gestion-academica" routerLinkActive="active" class="nav-item">
        <span class="icon">📘</span> <span class="nav-label">Cursos</span>
    </a>

    <a routerLink="/rendimiento" routerLinkActive="active" class="nav-item">
        <span class="icon">📊</span> <span class="nav-label">Notas</span>
    </a>

    </div>

    <div class="nav-footer">
    <button class="nav-item btn-logout" routerLink="/login">
        <span class="icon">🚪</span>
        <span class="nav-label">Salir</span>
    </button>
    </div>
</nav>